body, html {
    height: 100%;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bg{
    background-image: linear-gradient(120deg, #155799, #159957);;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center
}

.bg-dark{
    background-color:black;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center
}

.page-header {
    color: #fff;
    text-align: center
}

h2 {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.7
}

a {
    color: #1e6bb8;
    text-decoration: none
}

@media screen and (min-width: 64em) {
    .page-header {
        padding: 5rem 6rem;
        font-size: 3.25rem
    }
    h2 {
        font-size: 1.25rem
    }
    .button {
        padding: 0.75rem 1rem
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
        padding: 3rem 4rem;
        font-size: 2.25rem
    }
    h2 {
        font-size: 1.15rem
    }
    .button {
        padding: 0.6rem 0.9rem;
        font-size: 0.9rem
    }
}

@media screen and (max-width: 42em) {
    .page-header {
        padding: 2rem 1rem;
        font-size: 1.75rem
    }
    h2 {
        font-size: 1rem
    }
    .button {
        display: block;
        width: 100%;
        padding: 0.75rem;
        font-size: 0.9rem
    }
}

.button {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s
}

.button:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3)
}
